.product-card {
    background-color: transparent;
    color: #fff;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .product-image {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
    /* margin-right: 20px; */
  }
  
  .product-info {

    flex: 1;
  }
  
  .product-name {
    font-size: 20px;
    margin-top : 10px ;
    margin-bottom: 10px;
  }
  
  .product-description {
    font-size: 14px;
    line-height: 1.5;
  }
  
