@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* // root pseudoclass similar to html tag but higher specificity */

  --color-primary: #dadada;
  /* // custom css properties similar to sass variable not requiring */
  --color-primary-light: #5f5e5f;
  --color-primary-dark: #ba265d;
  --color-secondary: #ffc700;
  /* // custom css properties similar to sass variable not requiring */
  --color-secondary-light: #ffe600;
  --color-secondary-dark: #e0d56b;

  --color-grey-light-2: #f4f2f2;
  --color-grey-light-1: #faf9f9;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);
  --line: 1px solid var(--color-grey-light-2);
}
/* 
$bp-largest: 75rem;
$bp-large:68.75rem;
$bp-medium:56.25rem; // 900px
$bp-small: 39rem; */

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0px;
  padding: 0px;
}

body {
  /* // background-color: gradient(); */
  font-family: "Comfortaa", sans-serif;
  /* // if open sans is not found then use sans-serif */
  font-weight: 400;
  /* background-image: linear-gradient(
    to bottom,
    #F1FFF8,
    #F1FFF8
    
  ); */
  /* overflow-x: hidden; */
  background-image: url('./public/abstract-textured-backgound.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* // min-height: 100vh; */

  /* background-image: linear-gradient(
    to bottom,
     var(--color-secondary),
     var(--color-secondary)
  );

  background-repeat: no-repeat;
  background-size:cover; */
  /* // min-height: 100vh; */
  /* padding: 0px 50px; */
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  background-image: url('./public/abstract-textured-backgound.jpg')
  /* background-color: #5f5e5f; */
  /* // 1rem = 10px , 10px/16 == 62.5% */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.hero {
  @apply flex h-full w-full items-center justify-center;
}
.logo-name {
  @apply flex flex-row items-center justify-center gap-2;
}

.party-name {
  @apply inline-block h-full w-[6rem] text-center  text-[1.2rem] uppercase font-bold text-[#ffffff];
}
.logo {
  height: 4.25rem;
  width: 4.25rem;
  margin-left: 2rem;
}

.header {
  @apply /* background-image: linear-gradient( to bottom, #F1FFF8, #F1FFF8 ); */ /* background-repeat: no-repeat;
  background-size:cover; height: 7rem;
    background-color: #fff;
    border-bottom:
    var(--line);
  display: flex;
  justify-content: space-between; align-items:
  center;

  font-size: 1.4rem;
  */ /*
  @media only
  screen and
  (max-width: $bp-small)
  { flex-wrap:wrap;
  } */ flex
  h-[8rem] items-center justify-start  bg-cover bg-repeat font-[1.4rem]
    transition-all
duration-300 ease-linear;
}

/* NAVBAR */

.page-nav {
  @apply flex h-full  items-center  justify-start pl-2;
}
.page-nav-link {
  @apply relative inline-block h-full self-stretch font-bold uppercase text-[1.4rem]
  text-[color:var(--color-primary)] hover:cursor-pointer hover:text-[color:var(--color-primary-light)];
}
/* .page-nav-link::after{
  @apply opacity-0 content-none group-hover:opacity-1 h-[1px] absolute bottom-0 left-0 w-[5px]

} */

.page-nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  bottom: -2px;
  left: 0px;
  background-color: var(--color-primary);
  transform-origin: bottom right;
  transition: transform 0.35s ease-out;
}
.nav-link-active::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(1);
  height: 2.5px;
  bottom: -2px;
  left: 0px;
  background-color: var(--color-primary);
}

.page-nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .page-nav-link:active::after{

} */

/* .page-nav-link:hover{
  text-decoration: underline;
} */

.page-nav-link:not(:last-child) {
  @apply mr-10;
}
.page-nav-link:first-child {
  @apply ml-5 lg:ml-20;
}
.btn {
  @apply max-h-[80%] font-bold  transition-all duration-200 ease-linear hover:cursor-pointer;
}
.btn-group {
  @apply ml-auto flex flex-row gap-3 px-10;
}

.btn.login {
  @apply border-[color:var(--color-primary)] px-[2rem] 
  text-[color:var(--color-primary)] hover:bg-purple-600 hover:text-white
  dark:shadow-sm dark:shadow-[#04c966];
}
.btn.login:active {
  @apply dark:shadow-none;
}

.btn.create {
  @apply bg-green-600 px-[2rem] text-white  
   hover:opacity-100 dark:shadow-sm dark:shadow-green-700 rounded-md;
}
.btn.create:active {
  @apply dark:shadow-none;
}

.btn.register:active {
  @apply dark:shadow-none;
}

.btn.register {
  @apply bg-[color:var(--color-primary)] px-[2rem] text-white opacity-70 
   hover:opacity-100 dark:shadow-sm dark:shadow-[#04c966];
}
.bar-icon {
  /* margin-left:auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 102;
  animation: pulse;
}

.page-nav-mobile {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 101;
  /* display:flex;
  flex-direction: column;
  justify-content: center; */
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: #202020;
  transition: opacity 0.8s 0.5s, clip-path 1s 0.5s;
  padding: 13rem 0;
}

.bar-icon-close-navlinks {
  clip-path: circle(100px at top right);
  opacity: 0;
  transition: clip-path 1s ease-in-out 0s, opacity 1s linear 1s,
    visibility 1s ease-in-out 1s;
  visibility: hidden;
}
.bar-icon-open-navlinks {
  opacity: 1;
  clip-path: circle(100% at center);
}

.bar-icon-close-navlink {
  /* clip-path:circle(200px  at top right); */
  opacity: 0;
  transform: translateX(100%);
  animation: backwards;

  /* display:hidden; */
}
.bar-icon-open-navlink {
  opacity: 1;
  clip-path: circle(100% at center);
  transform: translateX(0);
  transition: opacity 0.4s ease-out,
    transform 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/* opacity : duration delay */

.page-nav-mobile .nav-link {
  /* position:absolute; */
  position: relative;
  width: 100%;
  text-align: center;
  display: flex;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  /* transform:translateY(100rem); */
  transition: color 1s ease-in-out, opacity 0.4s ease-in-out,
    transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.page-nav-mobile .nav-link::after {
  content: "";
  height: 2px;
  width: 70%;
  position: absolute;
  bottom: 0;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(64, 84, 178) 0%,
    rgb(219, 2, 234) 90%
  );
}
.page-nav-mobile .nav-link a {
  display: block;
  padding: 2rem 0;
}

.page-nav-mobile .nav-link:hover {
  background-color: rgb(219, 2, 234);
}

.page-nav-mobile .nav-link:nth-of-type(1) {
  transition-delay: 0.1s;
}

.page-nav-mobile .nav-link:nth-of-type(2) {
  transition-delay: 0.2s;
}

.page-nav-mobile .nav-link:nth-of-type(3) {
  transition-delay: 0.3s;
}

.page-nav-mobile .nav-link:nth-of-type(4) {
  transition-delay: 0.4s;
}

.page-nav-mobile .nav-link:nth-of-type(5) {
  transition-delay: 0.5s;
}

/* Bounce effect from right to left */
@keyframes pulse {
  from {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.6);
  }
  to {
    box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
  }
}

/* #nav-icon2.open {
  border-radius:50%;
  animation: pulse 1s;
}
#nav-icon2.close {
  border-radius:50%;

} */

.feed {
  /* h-[500px] w-full */

  max-width: 100%;
  /* background-image: url('./assets/cover-mobile.jpg'); */
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

.feed-body {
  height: 90%;
  /* background-color: red; */
  width: 85%;
  /* opacity: 25%; */
  position: relative;
  font-family: "Open Sans", sans-serif;
}

.feed-header {
  /* height: 35rem; */
  /* width:30rem; */
  display: block;
  /* margin: 0 2rem; */
  /* position: relative; */
  background-color: rgba(201, 255, 248, 0.659);
  /* opacity:0; */
}

div.feed-header::before {
  width: 5rem;
  height: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: black;
}
.card-animate {
  animation: slide-right 1s ease-in-out, fade-in 1s ease-in-out;
}

.feed-header .card {
  padding: 1rem 2rem 2rem 1rem;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* white-space: normal; */
  /* transform:translateX(100); */
}

.feed-header .card button {
  width: 10rem;
  /* margin-bottom: 2rem; */
  margin-top: 1rem;
}
.feed-footer {
  width: 100%;
  height: 10rem;
  /* background-color: yellow; */
  position: absolute;
  bottom: 0;
  /* display: flex; */
  /* gap: 1rem; */
  flex-direction: row;
}

.feed-footer .card {
  width: 25%;
  height: 100%;
  /* background-color: rgba(255, 251, 0, 0.8); */
  /* opacity:60%; */
  position: relative;
  z-index: 1;
}

.feed-footer .card .card-button {
  position: absolute;
  bottom: 0;
  /* background-color: rgba(0, 168, 84, 0.659); */
  /* height:80%; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: row;
  color: black;
  padding: 0 2rem;
}

.feed-footer .card .card-button h4 {
  font-weight: bold;
  font-size: 3.5rem;
}

.feed-footer .card .card-button p {
  /* font-weight: bold; */
  font-size: 1.2rem;
}

.feed-bg-image-transition {
  /* background-size: cover; */
  /* transition: background-image 1s ease-out; */
}

.button-active {
  background-color: rgba(255, 250, 148, 0.66);
  height: 100%;
  /* padding:0 4rem; */
}

@keyframes slide-right {
  0% {
    transform: translateX(-5rem);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100;
  }
}

/* 
////////////////////////
SOCIALS
/////////////////////////
*/

.socials {
  display: flex;
  max-width: 1240px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* background-color: #f5f5f5; */

  /* margin: 5rem 0; */
  padding: 4rem 0;
}
.socials__body {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  gap: 3rem;
}
.socials__heading {
  align-self: flex-start;
  /* padding: 0rem 4rem; */
  font-weight: 900;
  color: #00a652;
  /* font-family: "Open Sans"; */
  /* margin: 0 0 4rem 4rem; */
  position: relative;
}
.socials__heading::before {
  content: "";
  width: 60%;
  height: 0.5rem;
  border-top: 3px solid rgb(255, 235, 148);
  position: absolute;
  right: 0;
  top: -3px;
  /* border-radius: 50px; */
  animation: slide-left 1s ease-in-out, fade-in 1s ease-in-out;
}

.socials__heading::after {
  content: "";
  width: 60%;
  height: 0.5rem;
  /* background-color: rgb(255, 235, 148); */
  border-bottom: 3px solid rgb(255, 235, 148);
  position: absolute;
  /* padding-top */
  left: 0;
  bottom: -2px;
  /* border-radius: 50px; */
}
.socials__embed {
  width: 30rem;
  display: flex;
  margin: 0 40px;
  align-items: center;
  justify-content: center;
}

/* /////  GALLERY  ///// */
.gallery {
  @apply transition-all duration-1000 ease-linear;
}

/* ///// PLUGIN ///// */

.plugin {
  @apply flex flex-col justify-center items-center gap-4;
}

.plugin__logo {
  @apply h-[3rem] w-[3rem];
}
.plugin__logo img {
  @apply hover:opacity-90;
}

.modal {
  z-index: 110;
}

.rocket {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
}

.fade-in-image {
  visibility: visible;
  /* animation : fadeIn 0.5s ease-in-out; */
  transition: visibility 0s, opacity 0.5s ease-in-out 0s;
  opacity: 1;
}
.fade-out-image {
  /* animation : TakeOffAndFadeOut 1s fadeOut 0.5s 1s; */
  transition: visibility 0s ease-in-out 2s, opacity 1s ease-in-out 0s;
  visibility: hidden;
  opacity: 0;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes TakeOffAndFadeOut {
  0% {
  }
  100% {
    transform: translateY(-500px);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.feed-header .card p {
  display: -webkit-box;
  position: relative;
  /* margin-right: 10px; */
  /* margin-bottom:10px; */
  max-height: 260px;
  max-width: 450px;
  padding-right: 1.5rem;
  margin-bottom: 5rem;
  white-space: normal;
  text-overflow: ellipsis;
  -webkit-line-clamp: 6; /*  this feature is not supported in every browser for vertical ellipses */
  -webkit-box-orient: vertical;
}
/* .feed-header  .card  p::after{
  content: '.... ';
  position:absolute; 
  left:0;
  bottom: -0.6rem;

} */

.circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
}
.circle-active {
  background-color: #555555;
  /* background-color: #e0dada; */
}

/* Services section  */

.services-section {
    /* background-color: #1a1a1a; */
    color: #fff;
    padding: 50px;
    text-align: center;
  }
  
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin-top: 30px;
  }
  
  .service-card {
    background-color: #333;
    padding: 30px;
    border-radius: 8px;
    text-align: left;
  }
  
  .service-card h3 {
    color: #fff;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .service-card p {
    color: #ccc;
    font-size: 16px;
    line-height: 1.5;
  }

.blur-load {
  background-size: cover;
  background-position: center;
}

.blur-circle {
  height: 600px;
  width: 600px;
  position: absolute;
  background-color: black;
  filter: blur(100px);
  top: -300px;
  left: -300px;
  z-index: 10;
  border-radius: 50%;
}

.card-filter {
  background-color: rgba(255,255,255,0.6);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}

.bg-homecard{
  background-image: linear-gradient(to bottom right, #fc0345,#fc03b1,#4a03fc);
}

.title {
  font-size: 28px;
  /* font-weight: bold; */
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
}

.hamicon{
  z-index:999;
}